<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Головна</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Домашня сторінка <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about-us">Про нас</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Ложа Вдосконалення</h1>
      <p>з особливою назвою "Fasferas Da‘at" № 6, в зеніті міста Запоріжжя, в долині річки Дніпро</p>
      <p><a class="btn btn-primary btn-lg" href="/about-us" role="button">Читати далі »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Що таке ДПШО</h2>
        <p> Практично відразу після формування єдиної системи Давнього і Прийнятого Шотландського Обряду була створена і Ложа Вдосконалення для того, щоб систематизувати опрацювання певних градусів, які більш глибоко розкривали легенду про майстра Гірама Абіфа і давали додаткові трактування морально-етичного вчення масонства. </p>
        <p><a class="btn btn-secondary" href="/history" role="button">Читати далі »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Структура Ложі</h2>
        <p>Організаційна структура Найвищої Ради Давнього і Прийнятого Шотландського Обряду, об'єднує градуси з 4 по 14. У деяких Найвищих Радах немає Ложі Вдосконалення, а градуси з 4 по 14 включені в Капітул (4 ° - 18 °). Ложа вдосконалення стала першою організаційною структурою, де міг пройти посвяту майстер-масон </p>
        <p><a class="btn btn-secondary" href="/lodge" role="button">Читати далі »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Принципи</h2>
        <p>Брати-масони, які належать до Давнього і Прийнятого Шотландського Обряду, зобов’язані неухильно дотримуватися принципів правди, любові, справедливості та свободи, а в своїх діяннях керуватися терпимістю, справедливістю та мудрістю задля прогресу, розвитку та блага усього Людства і кожної людини зокрема. .</p>
        <p><a class="btn btn-secondary" href="/principles" role="button">Читати далі »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>© Company 2017-2019</p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

</body>
</body>
</html>